body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

header img {
  width: 150px;
}

main {
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-size: 1.2em;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green color */
  color: white; /* White text */
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: #13d41c; /* Darker green on hover */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}